
html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

.flexContent {
	flex: 1 0 auto;
}

.clearFix::after {
	content: "";
	clear: both;
	display: table;
}

.header {
	min-height: 80px;
	padding: 0 2.5%;
	background-color: #ffffff;
	border-bottom: 2px solid #ccc;
	
}

	header {
		max-width: 960px;
		height: inherit;
		margin: 0 auto;
			
	}

		h1 {
			display: inline-block;
			font-family: "Georgia", Times, "Times New Roman", serif;
			font-size: 28px;
			color: #ffffff;
			background-color: #4aaaa5;			
			float: left;
			padding: 24px 38px;
			margin: 0;
		}
		
		nav.mainNav {
			background-color: #eee;
			display: inline-block;
			float: right;
			padding: 0;
			margin: 31px 0;
		}	

			ul.mainNavUL { 
				margin: 0;
				padding: 0;
			 }

		
							
				#navButton1 {
					display: inline-block;
					background-color: #ffffff;
					padding: 0 16px 0 0;
					margin: 0;
				}

				#navButton2 {
					display: inline-block;
					background-color: #ffffff;
					padding: 0 16px;
					margin: 0 -3px;
				}

				#navButton3 {
					display: inline-block;
					background-color: #ffffff;
					padding: 0 0 0 16px;
					margin: 0;
				}


					.navLink {
						font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
						font-size: 16px;
						font-weight: 500;
						text-decoration: none;
						color: #777777;
					}



div.section {
	padding: 0 2.5%;
	background-image: url(../images/small_steps.png);
	margin: 0;
}

	section {
		max-width: 960px;
		height: inherit;
		margin: 20px auto;
	}

		article {
			box-sizing: border-box;
			float: left;
			max-width: 660px;
			background-color: #ffffff;
			padding: 36px;
			border: 1px solid #ddd;
			margin: 10px 10px 10px 0;
		}
			h2 {
				font-family: "Georgia", Times, "Times New Roman", serif;
				font-size: 28px;
				color: #4aaaa5;
				margin: 0;
				width: 600px;
			}

			hr {
				height: 2.5px;
				background-color: #ddd;
				border-width: 0;
				margin: 24px 0;
			}

			#headShot {
				max-width: 200px;
				float: left;
				margin-right: 20px;
			}

			p {
				font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
				color: #777777;
				font-size: 18px;
				line-height: 2;	

			}

		aside {
			float: right;
			max-width: 280px;
			background-color: #ffffff;
			padding: 20px;
			border: 1px solid #ddd;
			margin: 10px 0 10px 10px;
		}
			h3 {
				font-family: "Georgia", Times, "Times New Roman", serif;
				font-size: 19px;
				color: #4aaaa5;
				margin: 10px 0;	
			}

			img.socialIcon {
				width: 50px;
			}

			.connect{
				display: inline-block;
				float: left;
				margin: 4px;
			}
			#connectHR {
				margin: 20px 0;
				height: 2px;
				background-color: #eee;
			}


div.footer {
	height: 80px;
	padding: 0 2.5%;
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
}

	footer {
		max-width: 960px;		
		margin: 0 auto;
		padding: 0;
		
	}
		h4 {
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-size: 11px;
			color: #ccc;
			font-weight: 300;
			margin: 30px auto;
			text-align: center;
		}


/* Form */

label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	color: #777777;
	font-weight: 500;

}

input {
	box-sizing: border-box;
	border: 1px solid #ddd;	
	width: 100%;
	height: 30px;
	margin: 8px 0;
	padding: 10px;
	font-size: 14px;
}

input::placeholder {
	color: #ccc;
}

textarea {
	display: block;
	box-sizing: border-box;
	border: 1px solid #ddd;
	height: 180px;
	width: 100%;
	margin: 8px 0;
	padding: 10px;
	font-size: 14px;
	resize: vertical;

}

#userSubmit {
	background-color: #4aaaa5;
	border: none;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: #fff;
	padding: 8px 16px;	
	margin: 10px 0 0 0;
	cursor: pointer;
	height: 44px;
	width: 120px;


}

/* Portfolio */

#galleryContainerL {
	display: inline;
	width: 50%;
	height: 100%;
	float: left;	
}

#galleryContainerR {
	display: inline;
	width: 50%;
	height: 100%;
	float: right;	
}

.galleryItem {
	position: relative;
	z-index: 1;
	display: inline-block;
	box-sizing: border-box;
	height: 205px;
	width: 275px;
	padding: 0;
	border: none;
	margin: 16px 0;
	float: inherit;
}

h2.galleryBanners {
	position: absolute;
	bottom: 8px;
	z-index: 2;
	height: 60px;
	width: 100%;
	padding: 17px 0;
	margin: 0 auto;			
	font-family: "Georgia", Times, "Times New Roman", serif;
	font-size: 24px;
	color: #fff;
	font-weight: 400;
	background-color: #4aaaa5;
	text-align: center;
	line-height: 24px;
	box-sizing: border-box;


}